{% extends '@App/layout.html.twig' %}

{% block body %}

<h1>{{product.title}}</h1>
<p>{{product.description}}</p>
<hr>
    {{ product.price }}
    
{% endblock %}

{% block stylesheets %}

{% endblock %}
